$size: calc((40vw) / 9);

.field {
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(9, $size);
  grid-template-rows: repeat(5, $size);
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    transition: background-color .2s ease,border-color .2s ease,color .2s ease;
  }
  &__item:hover,
  &__item:active {
    background-color: #dddcda;
    border: 1px solid #d7d7d7;
    color: #fff;
  }
  &__item--active {
    background-color: #15b453;
    border-color: #14a24b;
    color: #fff;
  }
}

